.portfolio
    &__container
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    &__header
        width: 100%;
        color: #314584;
        text-align: start;
        font-size: 2.5rem;
        font-weight: 600;
    &-blocks
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        &__item
            width: 370px;
            height: 280px;
            background-color: #c3d0d8;
            margin: 1rem;
    &__more-link
        margin-top: 2rem; 
        & a
            color: #ff3946;
            font-weight: 600;
            