section.contact-us
    .contact-us__container
        p.contact-us__title CONTACT US
        h3.contact-us__header Get in Touch
        form.contact-us__form
            .contact-us__user-data
                input(type="e-mail", placeholder="Your email").contact-us__email
                input(type="text", placeholder="Subject").contact-us__theme
            .contact-us__textarea
                textarea(name="message", placeholder="Message here...")
            button.contact-us__submit-button Send Message
