footer.footer
    .footer__container
        .footer__logo DOOB
        h1.footer__header CREATIVITY ABOVE
        ul.footer-menu.footer__menu
            li.footer-menu__link 
                a(href="#") Home.
            li.footer-menu__link 
                a(href="#") About us.
            li.footer-menu__link 
                a(href="#") Portfolio.
            li.footer-menu__link 
                a(href="#") Blog.
            li.footer-menu__link 
                a(href="#") Contact us.
        .footer__license  © 2019 - Doob,All Right Reserved
        .footer__social-networks
            a(href="#")
                i.fa.fa-facebook-f
            a(href="#")
                i.fa.fa-twitter
            a(href="#")
                i.fa.fa-dribbble

