header.header
    .header-logo
        img(src="/images/logo.svg", alt="")
    .header__container
        .header-burger
            i.fa.fa-bars
            //- i.fas.fa-angle-down
        ul.header-menu.header-menu_mobile
            li.header-menu__unit 
                a(href="#") Home.
            li.header-menu__unit 
                a(href="#") About us.
            li.header-menu__unit 
                a(href="#") Portfolio.
            li.header-menu__unit 
                a(href="#") Blog.
            li.header-menu__unit 
                a(href="#") Contact us.
        .header-contact-button
            label.header__lang(for="lang") EN
            select#lang(name="lang")
                option(value="EN") EN
                option(value="RU") RU
            button.header__contact-us-button Contact Us
                img(src="/images/arrow.svg", alt="")