section.hero
    .hero__container
        .hero-text
            h1.hero-text__title The Spirit of Digital Agency.
            p.hero-text__description Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.
            .hero-text__links
                a.hero-text__link.active More About us
                a.hero-text__link Get in Touch.
        .hero__image
            img(src="/images/hero-image.png", alt="")