section.portfolio
    .portfolio__container
        h3.portfolio__header See some of our Creative work.
        .portfolio-blocks
            .portfolio-blocks__item
            .portfolio-blocks__item
            .portfolio-blocks__item
            .portfolio-blocks__item
            .portfolio-blocks__item
            .portfolio-blocks__item
        .portfolio__more-link
            a(href="#") See More of Theese